<h1 style="color:blue;">Add New friend</h1>
<div class="container-fluid bg-primary text-white"/>
<%= render "form", friend: @friend %>
  <%= link_to "Back to friends", friends_path , class:"btn btn-info" %>
</div>
